*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

:root {
     /* variables de couleurs réutilisables  */
    --beige: #F2EFEE;
    --purple: #4E0250;
    --pink: #D198B3;
    --violet:#AD87B5;
    --blue:#8B7BB1;
    --ombre: 0px 4px 15px rgb(0 0 0 / 10%);
}

}


/* Titres principaux avec une police spécifique */
h1, h2, h3, h4 {
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    margin: 2% 0;
}
h1{
    font-size: 90px;
    text-align: center;
    color: #5c5c5c;
}
h2{
    font-size: 31px;
    text-align: center;
    margin-bottom: revert-layer;
}
h3{
    font-size: 23px;
}
h4{
    font-size: 18px;
}
/* Paragraphes avec une autre police */
p {
    font-family: "Inter", sans-serif;
}

/* barre de navigation */
nav{
        
display: flex; 
justify-content:space-between;
align-items: center; 
background-color: #F2EFEE;
/* position: fixed; */
width:100%;
padding:20px;
z-index: 10;

        
}


ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header{

}
a{
    text-decoration: none;
    color:#4E0250;
    
}


    

body{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 242, 242);
    font-style: normal;
    color(#303030);

}

/* herosection */

.hero-content{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 64px 24px;
    img{
        width: 44px;
    }
    img:first-of-type{
        align-self: end;
    }
    img:last-of-type{
        align-self: baseline;
    }
}
.hero{
    
    display: flex;
    color:#4E0250 ;
    padding: 60px;
    margin-bottom: 10px;

    display: inline-flex

    h2{
        text-align: left;
        
    }

    
    
}
.accueil{
    gap: 10%;
    width: 60%;;
    margin: 38px;
    flex-direction: column;
    text-align:justify;
    display: flex;
/* ---mettre ma presentation au centre---- */
    align-items: flex-start;
    justify-content: center;
}
 

#salmapic{
    flex-grow: 1;
    object-fit: cover;
    border-radius: 1rem;
}

/* presentation */

.propos{
    gap: 10%;
    margin: 38px;
    flex-direction: column;
    text-align:justify;
    display: flex;
}
.a-propos{
    background-color: #F2EFEE;
    padding: 88px 64px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 15px;

}

.container {
    max-width: 1200px;
    margin-inline: auto;
    /* border: red solid; */

}
.row{
    display: flex;
}

p{
    margin-bottom: 20px;
}

#Apropos{
    display: flex
    ;
        flex-direction: inherit;
        justify-content: space-evenly;
}
.star{
    height: height: 252px;
    width: 150px;
    
}

/* mes compétences */

.competences{

   
    
    justify-content: center;
    padding: 64px;
    gap: 44px;
}

.competcards{
    display: flex;
    text-align: justify;
    align-items: center;
    margin-left: 30%;
    gap: 60px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
   
    


}


.competcard{

    background-color: white;
    margin: 50px auto;
    border-radius: 25px;
    text-align: center;
    box-shadow:var(--ombre);
    box-shadow: 0 4px 15px #9a0b8926;
    height: 300px;
    width: 460px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    h3{
        width: 100%;
    }
    div{ 
        width: 50%;
        min-width: 50%;
        h4{
            margin-bottom: 4px;
        }
        
    }

}


/* mes projets */

.projets{
    
display: flex;
justify-content: space-between;
gap:50px;
}
    
    
.projets.card{
    
        display: flex;
        justify-content: center;
        padding: 44px;
        gap: 44px;
        flex-direction: column;
}

.card{

    background-color: white;
    width: fit-content;
    padding: 40px;
    margin: 50px auto;
    border-radius: 17PX;
    text-align: center;
    box-shadow:var(--ombre);

}

.card{
    img{
        border-radius: 1rem;
        width: 250px;
        height: 250px;
        border-radius: 1rem;
        object-fit: cover;

    }
    }

/* les boutons */
.btn{
    background-color: plum;
    color: white;
    display: flex;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    padding: 10px;
    border-radius: 12px;
    border: none;
    
}

/* formulaire */

.firstrow{
    display: flex;
}

.formular{
   width: fit-content;
    margin: 32px auto;
    padding: 40px;
    box-shadow: 0 4px 15px #00000026;
    border-radius: 18px;
    gap: 12px;
    display: flex; 
    flex-direction: column;
}

    

 #form{
    width: 400px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    
 }   

.formGroup {

    margin-bottom: 10px;
}

.form1{
    width: -webkit-fill-available;
    border-radius: 10px;
    border: #80008085 solid 1px;
    box-shadow: 0 4px 15px #9a0b8926;
    padding: 12px;
}


.blur-bg{

}
.b1{

}
.b2{

}

/* 
-----footer------ */


footer{
    background-color: #D198B3;
    color: #F2EFEE;
}
/* <div class="blur-bg">
<div class="b1"></div>
<div class="b2"></div>
</div> */